/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Century Gothic", sans-serif;
}

/* === HEADER PRINCIPAL === */
.navbar {
  display: flex;
  justify-content: space-between; /* Logo - Menú - Extras */
  align-items: center;
  padding: 10px 50px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* LOGO */
.logo img {
  width: 120px;
}

/* MENÚ CENTRAL */
.menu {
  display: flex;
  gap: 25px;
}







.blog {
    position: relative;
    width: 100%;
    height: 60vh;
}


.texto-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #2e2e2e;
    color: white;
    padding: 50px;
}

.texto-2 {
  position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 50px;
}


.texto-1 h1,
.texto-2 h1 {
    font-size: 2em;
    margin-bottom: 20px;
}


.texto-1 p 
.texto-2 p{
    margin-bottom: 15px;
}

.imagen-1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;

}

.imagen-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 55%;
    height: 100%;
    overflow: hidden;
}

.imagen-1 img,
.imagen-2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

